@use './setting.scss' as *;

.contenu-apropos
{
    font-family: $font-main;
}

.background-apropos-titre
{
    background-image: url(/src/assets/Background-titre2.png);
    background-size: cover;
    background-position: center;
    height: 223px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 48px;
    width: 90%;
    margin: auto;
    border-radius: 25px;
    color: white;
    font-size: 40px;
}

.contenu-apropos
{
    margin: auto;
    width: 90%;
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin: 38px auto;
}

@media (max-width: 376px)
{
    .background-apropos-titre
    {
        font-size: 24px;
        height: 111px;
    }

    .contenu-apropos
    {
        margin: 20px auto;
    }
}