@use './setting.scss' as *;

.dropdown 
{
    position: relative;
    display: inline-block;
    width: 100%;
    font-family: $font-main;
}
  
.dropdown-btn 
{
    background-color: $primary-color;
    color: white;
    padding: 10px 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 8px;
    width: 100%;
    height: 52px;
    font-size: 24px;
    font-weight: 700;
}

.arrow 
{
    transition: transform 0.3s ease;
}

.arrow.open 
{
    transform: rotate(180deg);
}

.dropdown-list 
{
    text-align: start;
    background-color: #F6F6F673;
    list-style: none;
    border-radius: 5px;
    opacity: 0;
    transition: max-height 0.3s ease, opacity 0.3s ease, padding 0.3s ease;
    max-height: 0;
    overflow: hidden;
    padding: 0px 20px;
}

.dropdown-list.open
{
    max-height: 500px;
    opacity: 1;
    padding: 20px;
}

.dropdown-list li 
{
    padding: 10px;
    cursor: pointer;
}

.dropdown-list li:hover 
{
    background-color: #f0f0f0;
}

@media (max-width: 376px)
{
    .dropdown-btn
    {
        height: 30px;
    }

    .dropdown-btn
    {
        font-size: 13px;
    }
}