@use './setting.scss' as *;

.error-contenu
{
    display: flex;
    flex-direction: column;
    margin: 6% auto;
    text-align: center;
    gap: 50px;
}

.error-titre
{
    font-size: 260px;
    color: $primary-color;
}

.error-phrase
{
    color: $primary-color;
    font-size: 36px;
}