@use './setting.scss' as *;

.background-footer
{
    background-color: black;
    height: 209px;
    color: white;
    display: flex;
    margin: 30px auto 0px auto;
    font-family: $font-main;
}

.contenu-footer
{
    width: 500px;
    margin: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-size: 24px;
    margin: 80px auto 50px auto;
}

.logo-footer
{
    height: 32px;
}

@media (max-width: 376px)
{
    .contenu-footer
    {
        margin: auto;
        gap: 0;
    }

    .contenu-footer p
    {
        font-size: 12px;
        width: 25%;
        margin: auto;
    }
}