@use './setting.scss' as *;

.header
{
    display: flex;
    justify-content: space-between;
    height: 68px;
    width: $format-page;
    margin: auto;
    align-items: center;
    font-family: $font-main;
}

.navigation 
{
    display: flex;
    align-items: center;
}

.navigation-liens
{
    padding: 20px;
}

.logo
{
    width: 100px;
}