.header
{
    display: flex;
    justify-content: space-between;
    height: 68px;
    width: 90%;
    margin: auto;
    align-items: center;
}

.navigation 
{
    display: flex;
    align-items: center;
}

.navigation-liens
{
    padding: 20px;
}

.logo
{
    width: 100px;
}