@use './setting.scss' as *;

.contenu
{
    font-family: $font-main;
}

.background-titre
{
    background-image: url(/src/assets/Background-titre.png);
    background-size: cover;
    background-position: center;
    height: 223px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 48px;
    width: $format-page;
    margin: 0px auto 30px auto;
    border-radius: 25px;
    color: white;
}

.gallery
{
    width: $format-page;
    background-color: #F6F6F6;
    margin: auto;
    border-radius: 25px;
}

@media (max-width: 376px)
{
    .background-titre
    {
        font-size: 24px;
        height: 111px;
        margin: 0px auto 20px auto;
    }

    .gallery
    {
        background: none;
        width: 100%;
    }
}